/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05-Mar-2019, 12:55:36
    Author     : 118350613
*/
BODY{
    background-image: url("EBUSINESS_1.jpg");
}
div{
    background-color: #00B0FF ;
    p{
    font-family: verdana;
    font-size: 10px;
}

}
ul {
  font-family: verdana;
  font-size: 20px;
  text-align: center;
  color: purple;
  list-style-type: none;
  margin: auto;
  padding: auto;
  width: 200px;
  background-color:purple;
  border: 16px black;
}

li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: lightblue;
  color: yellow;
}


.button{font: bold 14px Arial;
                     text-decoration: none;
                      background-color:darkblue;
                     color: white;
                     padding: 2px 6px 2px 6px;
                     border-top: 4px solid #CCCCCC;
                     border-right: 4px solid #333333;
                     border-bottom: 4px solid #333333;
                     border-left: 4px solid #CCCCCC;
}
 .button:hover {
                     background-color:purple;
                     color: black;
 }
 
