/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04-Mar-2019, 16:14:10
    Author     : 118350613
*/
body{
    background-image: url(EBUSINESS_3.jpg) ;
    
}
p{
    color: white;
}
center{
   
    background-color: lightblue;
}
text{
    color: white;
}
a{
    color: white
}
